<div id="<%= dom_id job %>">
  <p>
    <strong>Due date:</strong>
    <%= job.due_date %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= job.cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

</div>
